In [2]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('raw.githubusercontent.com_alexeygrigorev_datasets_master_housing.csv')

# Question 1

In [3]:
pd.__version__

'2.0.3'

# Question 2

In [5]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [7]:
len(df.columns)

10

# Question 3

In [9]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

# Question 4

In [10]:
df.nunique()

longitude               844
latitude                862
housing_median_age       52
total_rooms            5926
total_bedrooms         1923
population             3888
households             1815
median_income         12928
median_house_value     3842
ocean_proximity           5
dtype: int64

# Question 5

In [12]:
df[
    df['ocean_proximity'] == 'NEAR BAY'
]['median_house_value'].mean()

259212.31179039303

# Question 6

In [27]:
total_bedrooms_avg = df['total_bedrooms'].mean()
#print(total_bedrooms_avg)
new_total_bedrooms_avg = df['total_bedrooms'].fillna(total_bedrooms_avg).mean()
#print(new_total_bedrooms_avg)
new_total_bedrooms_avg - total_bedrooms_avg

-1.1368683772161603e-13

# Question 7

In [30]:
X = df[
   df['ocean_proximity'] == 'ISLAND' 
][['housing_median_age', 'total_rooms', 'total_bedrooms']].values

XTX = X.T @ X
XTX_inv = np.linalg.inv(XTX)
y = np.array([950, 1300, 800, 1000, 1300])
w = XTX_inv @ X.T @ y
w[-1]

5.6992294550655656